:root {
    --main-bg-color: #f0eee5;
    --main-bg-color-darker:  #e3dfce;
    --main-fg-color: black;
    --main-font-family: 'Open Sans';
    --title-font-family: Rye;
}
html, body {
    background-color: var(--main-bg-color);
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}
a:hover
{
  font-weight:1000;
}
a, a:visited, a:active {
  color: inherit;
}

#nav-button{
    position: fixed;
    top:1vw;
    right: 1vw;
    margin-right:1vw;
    font-size:2vw;
    cursor:pointer;
    background: var(--main-bg-color);
    border-radius: 50%;
    text-align: center;
    height:3vw;
    width:3vw;
}
.side-nav {
    display: block;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--main-bg-color-darker);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: var(--main-font-family);
}
.side-nav a
{
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    text-align:center;
}
.side-nav .closebtn {
      position: absolute;
      top: 1vw;
      right: 1vw;
      font-size: 30px;
}
.title
{
    font-family: var(--title-font-family);
    text-align: center;
}
#title-header {
    font-family: var(--title-font-family);
    height: 100%;
    width: 100%;
    grid-column: 6 / span 4;
    grid-row: 6 / span 5;
    margin:0;
    padding:0;
    color: var(--main-bg-color);
    /*-webkit-text-stroke: 1px var(--main-fg-color);*/
}
#down-arrow {
    text-align:center;
    color: var(--main-bg-color);
    height:100%;
    width:100%;
    grid-column: 5 / span 2;
    grid-row: 10;
}
.parallax {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-one.parallax {
    background-image: url("../img/farm.JPG");
}
#hero-two.parallax{
    background-image: url("../img/farm2.JPG");
}
.about{
    font-family: var(--main-font-family);
    font-size: 20px;
    font-weight: 400;
    padding: 2em 2em;
    max-width: 80vw;
    letter-spacing: .05em;
    line-height: 1.6em;
    width:100%;
    margin-left: 10vw;
    margin-right: 10vw;
}
.about p
{
    max-width: 80vw;
    padding-right:10vw;
    padding-left:10vw;
}
