
<!DOCTYPE html>
<html lang="en">

{% set page_title = "About" %}
{% include "includes/header.html" %}

<body>
    {% include "includes/nav.html" %}
    <div class="parallax" id="hero-one">
        <h1 id="title-header">{{site.land_name}}</h1>
        <span id="down-arrow">&#9661;</span>
    </div>
    <div class="about" id="about1">
        <h2 class="title">Welcome</h2>
        <p>
        At the top of a hill with no name in the Northeast Kingdom of Vermont, we've made our home on 11 acres of forest.
        We started our journey together 9 years ago when we met in college. Young and ambitions we tied the knot and started on our grand adventure.
        The years have had many twists and turns and our path eventually led us here to our home in the woods.
        In the Summer of 2021 we moved to the region full time to begin the long work of building our homestead.
        The amount of work is incalculable so we take it one day at a time.
        </p>
    </div>
    <div class="parallax" id="hero-two"></div>
    <div class="about" id="about2">
        <h2 class="title">Vision</h2>
        <p>
            We have many aspirations for our land but principally it is to be a place that we can derive our needs from the land and a sense of worth from the work of doing so.
            Currently we are building a yurt that is to be our home and shed/sauna on the property.
            After the hard work of building our home and sauna, begins the work of planting a garden and raising chickens and eventual other live stock. In late summer we hope to begin constructing a
            barn and workshop to house the work that needs doing and the animals that need caring for.
        </p>
        <p>
            We moved to this new place from lives steeped in the dominant culture of mindless consumption and hyper specialization.
            The modern world and dominant culture encourages helplessness and we have become it's victims.
            Coming to {{site.land_name}} for us means getting back in touch with the core parts of being a human in the world. We aim to re-enter the
            cycles of nature, life, death and birth.
            This means producing our own food, building our own structures with our own hands from materials the land provides to us, and maintaining our health via the tools and resources nature provides.
            This is not an easy adjustment but the alternative is comfortable ignorance and helpless dependence.
            We choose this life "not because it is easy but because it is hard".
        </p>
        <p>
            Lofty philosophies aside, we cannot make these changes radically and all-at-once.
            So for the time being we still work for money, though less.
            Most of our work is focused on the life we want to build.
            Currently we produce nothing that is not for ourselves or our masters (our jobs).
            This site exists to offer our thoughts on our work and a glimpse of our journey. The highs and the lows.
            Eventually when the farm is more established we'd like to offer more. Food produced from the labor of our hands and homes designed from our love of nature and desire to be in communion with it would
            be the greatest offering we could aspire to give.
        </p>
    </div>
    <script type="text/javascript">
		$("#title-header").fitText(0.75);
		$("#down-arrow").fitText(0.5);
    </script>

<!--
        <p>
            Smog, traffic, filth, and crowds.</br>
            Industrialized synthetic foods, a dearth of trees, a general sense of stress, and a lack of community.</br>
            Isolation in the mob, time passing quickly, quietly. No recollection of why or how.</br>
            Our life in the city (we tried several: New York, San Francisco, Chicago) left us sick, depressed, unfulfilled and longing.</br>
            Then we came here. {{site.land_name}}.</br>
            Here we found something simple, something real, something wholesome and healing.</br>
            It is something that doesn't exist yet, but it's ours if we make it.</br>
            This is our homestead. This is our journey. This is {{site.land_name}}.</br>
        </p>

-->
</body>
</html>
