
<!DOCTYPE html>
<html lang="en">

{% set page_title = "About" %}
{% include "includes/header.html" %}

<body>
    <div class="heading">
    {% include "includes/nav.html" %}
    </div>
    <div class="parallax" id="hero-one"></div>
    <div class="about">
        <p>
            Smog, traffic, filth, and crowds.</br>
            Industialized synthetic foods, a dearth of trees, a general sense of stress, and a lack of community.</br>
            Isolation in the mob, time passing quickly, quietly. No recolection of why or how.</br>
            Our life in the city (we tried several: New York, San Fransisco, Chicago) left us sick, depressed, unfulfilled and longing.</br>
            Then we came here. {{site.land_name}}.</br>
            Here we found something simple, something real, something wholesome and healing.</br>
            It is something that doesn't exist yet, but it's ours if we make it.</br>
            This is our homestead. This is our journey. This is {{site.land_name}}.</br>
        </p>
    </div>
    <div class="parallax" id="hero-two"></div>
</body>
</html>
